@{
    Layout = null;
    ManagerSession ManagerSession = Context.Session.GetComplexData<ManagerSession>(Common.SessionKeys.ManagerSession);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spice & Shine</title>

    <link href="@Common.SiteCDNBaseURL/css/bundleCss/header.min.css" rel="stylesheet" asp-append-version="true" asp-fallback-href="~/css/bundleCss/header.min.css" asp-fallback-test-class="header-min-css-fallback" asp-fallback-test-property="position" asp-fallback-test-value="absolute" asp-suppress-fallback-integrity="false" />

    <link href="@Common.SiteCDNBaseURL/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" asp-append-version="true" asp-fallback-href="~/fonts/fontawesome/css/fontawesome-all.min.css" asp-fallback-test-class="fa-stack" asp-fallback-test-property="position" asp-fallback-test-value="relative" asp-suppress-fallback-integrity="false" />

    <link href="~/fonts/feather/css/feather.min.css" rel="stylesheet" />

    <link href="@Common.SiteCDNBaseURL/fonts/feather/css/feather.css" rel="stylesheet" asp-append-version="true" asp-fallback-href="~/fonts/feather/css/feather.css" asp-fallback-test-class="feather" asp-fallback-test-property="speak" asp-fallback-test-value="none" asp-suppress-fallback-integrity="false" />

    <link href="@Common.SiteCDNBaseURL/css/bundleCss/portal-custom-header.min.css" rel="stylesheet" asp-append-version="true" asp-fallback-href="~/css/bundleCss/portal-custom-header.min.css" asp-fallback-test-class="portal-custom-header-min-css-fallback" asp-fallback-test-property="position" asp-fallback-test-value="absolute" asp-suppress-fallback-integrity="false" />

    @RenderSection("css", required: false)
    <link href="~/css/flag-icons.min.css" rel="stylesheet" />
    <environment names="Staging,Production">
        <script src="@Common.SiteCDNBaseURL/js/bundleJs/header.min.js" asp-append-version="true" asp-fallback-src="~/js/bundleJs/header.min.js" asp-fallback-test="window.jQuery" asp-suppress-fallback-integrity="false"></script>
        <script src="@Common.SiteCDNBaseURL/js/bundleJs/footer.min.js" asp-append-version="true" asp-fallback-src="~/js/bundleJs/footer.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn" asp-suppress-fallback-integrity="false"></script>
        <script src="@Common.SiteCDNBaseURL/js/bundleJs/admin-common.min.js" asp-append-version="true" asp-fallback-src="~/js/bundleJs/admin-common.min.js" asp-fallback-test="typeof(MessagePortal) == 'object'" asp-suppress-fallback-integrity="false"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/fc-3.2.5/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.toaster/jquery.toaster.js" asp-append-version="true"></script>
        <script src="~/plugins/select2/js/select2.full.min.js" asp-append-version="true"></script>

        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/pcoded.js" asp-append-version="true"></script>
        <script src="~/js/horizontal-menu.js" asp-append-version="true"></script>
        <script src="~/js/menu.js"></script>

        <script src="~/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
        <script src="~/Manager/Scripts/ManagerPortal.js" asp-append-version="true"></script>
        <link href="~/plugins/data-tables/css/datatables.min.css" rel="stylesheet" />
        <script src="~/plugins/data-tables/js/datatables.min.js"></script>
    </environment>
    <script src="//cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: null });
        var siteURL = "@Common.SiteURL";
        var siteURLPortal = "@Common.SiteURL" + "manager/";
    </script>
</head>
<body>

    <div id="loading" class="active" style="display:block;">
        <div class="loading-inner">
            <div class="loading-circle-wrapper">
                <div class="loading-circle">
                </div>
            </div>
        </div>
    </div>
    <div id="loadingbar" class="loader-bg" style="display:block;">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo header-blue">
                <a href="@Url.Action("index","dashboard")" class="b-brand">
                    <div class="b-bg">
                    </div>
                    <span class="b-title">
                        <svg version="1.0" width="1200.000000pt" height="600.000000pt" viewBox="0 0 16.933 16.933" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" style="width: auto;height: 80px;">
                            <g xmlns="http://www.w3.org/2000/svg" transform="translate(0 -280.067)"><path fill="#fcb860" d="M 2.1166553,285.88749 H 14.816655 v 9.26042 H 2.1166553 Z" /><path fill="#fbb04f" d="m 14.023419,285.88749 1.1e-5,9.25989 h 0.793234 l -10e-6,-9.25989 z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /><path fill="#fc6067" d="M8.4666655 280.8604c-2.1166701 0-2.9104201 1.05833-2.9104201 1.05833H2.9104152c-.2931599 0-.5291699.23601-.5291699.52917v1.05833H14.552085v-1.05833c0-.29316-.23601-.52917-.52917-.52917h-2.64583c0 0-.79375-1.05833-2.9104195-1.05833zM1.3229153 295.1479H15.610415v1.05833H1.3229153z" /><path fill="#fb4f56" d="m 3.1751652,285.6229 v 0.52918 c 0,0.58631 -0.4720198,1.05833 -1.0583399,1.05833 -0.58631,0 -1.05833,-0.47202 -1.05833,-1.05833 v -0.52918 z" /><path fill="#dbe1e7" d="m 5.2918052,285.6229 v 0.52918 c 0,0.58631 -0.4720199,1.05833 -1.05834,1.05833 -0.5863198,0 -1.0583299,-0.47202 -1.0583299,-1.05833 v -0.52918 z" /><path fill="#fb4f56" d="m 7.4084353,285.6229 v 0.52918 c 0,0.58631 -0.47201,1.05833 -1.0583301,1.05833 -0.5863199,0 -1.05834,-0.47202 -1.05834,-1.05833 v -0.52918 z" /><path fill="#dbe1e7" d="m 9.5250755,285.6229 v 0.52918 c 0,0.58631 -0.47202,1.05833 -1.05833,1.05833 -0.5863202,0 -1.0583403,-0.47202 -1.0583403,-1.05833 v -0.52918 z" /><path fill="#fb4f56" d="m 11.641715,285.6229 v 0.52918 c 0,0.58631 -0.47202,1.05833 -1.05833,1.05833 -0.5863195,0 -1.0583395,-0.47202 -1.0583395,-1.05833 v -0.52918 z" /><path fill="#dbe1e7" d="m 13.758355,285.6229 v 0.52918 c 0,0.58631 -0.47202,1.05833 -1.05834,1.05833 -0.58631,0 -1.05833,-0.47202 -1.05833,-1.05833 v -0.52918 z" /><path fill="#fb4f56" d="m 13.758325,285.6229 v 0.52918 c 0,0.58631 0.47202,1.05833 1.05834,1.05833 0.58632,0 1.05833,-0.47202 1.05833,-1.05833 v -0.52918 z" /><path fill="#fc6067" d="m 1.0583253,285.6229 1.32292,-2.11667 H 14.552075 l 1.32291,2.11667 z" /><path fill="#e7ebef" d="m 4.2333311,283.50623 -1.0583334,2.11667 h 2.1166667 l 0.79375,-2.11667 z m 3.4395833,0 -0.2645833,2.11667 h 2.1166664 l -0.264583,-2.11667 z m 3.1755156,0 0.79375,2.11667 h 2.116667 l -1.058334,-2.11667 z" /><path fill="#fb4f56" d="M13.432253 281.91873c.127815.14092.208161.3257.208256.52917v1.05833h.911572v-1.05833c0-.29316-.236006-.52917-.529167-.52917zM13.805874 283.50623c.407794.65309.815829 1.30602 1.223698 1.95906.03389.0456.05217.10084.05219.15761h.793234l-1.322916-2.11667z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /><path fill="#fb3b43" d="m 15.081763,285.62341 v 0.52762 c 0,0.41691 -0.19654,0.78848 -0.500226,1.03146 0.07579,0.0171 0.154014,0.0279 0.235127,0.0279 0.586319,0 1.058333,-0.47203 1.058333,-1.05833 v -0.52866 z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /><path fill="#fb4f56" d="m 14.816148,295.1479 v 1.05782 a 0.26460982,0.26460982 0 0 1 0,5.3e-4 h 0.794266 v -1.05834 z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /><path fill="#e7ebef" d="m 3.1749752,295.1479 v -6.35 l 4.2333501,-1e-5 -1.01e-5,6.35001 z" /><path fill="#68b1fc" d="M8.4666455 288.79789h5.2917195l-.00001 4.76251H8.4666455zM4.2333152 289.85623h2.1166601v2.11667H4.2333152z" /><path fill="#4fa4fb" d="M5.5562478 289.85623v2.11667h.79375v-2.11667zM12.964581 288.7979v4.7625h.79375v-4.7625z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /><path d="m 8.4666655,280.59633 c -1.1024203,9e-5 -1.8806102,0.27668 -2.3812503,0.56276 -0.41329,0.23616 -0.58063,0.41418 -0.6506099,0.49609 h -2.52491 c -0.43517,0 -0.79323,0.35756 -0.79323,0.79272 v 0.98237 l -1.28313001,2.0531 c -0.026,0.0422 -0.0396,0.091 -0.0393,0.14056 v 0.5271 c 10e-5,0.63741 0.45493001,1.17372 1.05678001,1.2976 v 7.4352 h -0.5271 c -0.14612,-5.3e-4 -0.26503,0.11743 -0.26561,0.26355 v 1.05834 c -5.292e-4,0.14692 0.11869,0.26617 0.26561,0.26561 H 15.610905 c 0.14611,-5.3e-4 0.2641,-0.11949 0.26355,-0.26561 v -1.05834 c -5.29e-4,-0.14531 -0.11824,-0.26297 -0.26355,-0.26355 h -0.52917 v -7.4352 c 0.60217,-0.12388 1.05833,-0.66015 1.05833,-1.2976 v -0.5271 c -1.2e-4,-0.0498 -0.0143,-0.0985 -0.0408,-0.14056 l -1.28313,-2.0531 v -0.98237 c 0,-0.43516 -0.35807,-0.79272 -0.79323,-0.79272 h -2.52698 c -0.0704,-0.0823 -0.23591,-0.2603 -0.64854,-0.49609 -0.50064,-0.28608 -1.2783295,-0.56267 -2.3807295,-0.56276 z m -5.29e-4,0.52969 c 1.014219,0 1.6918595,0.25098 2.1171795,0.49402 0.42533,0.24304 0.5824,0.45682 0.5824,0.45682 0.0499,0.0662 0.12792,0.10526 0.21084,0.10542 h 2.64636 c 0.15115,0 0.26355,0.11446 0.26355,0.26562 v 0.79323 H 2.6458353 v -0.79323 c 0,-0.15116 0.1129001,-0.26562 0.26406,-0.26562 h 2.6463501 c 0.0829,-1.6e-4 0.1609399,-0.0392 0.2108398,-0.10542 0,0 0.1565601,-0.21378 0.5818802,-0.45682 0.4253198,-0.24304 1.1029497,-0.49402 2.1171801,-0.49402 z m -5.9381412,2.64428 h 1.27848 l -0.7942601,1.58802 H 1.5358253 Z m 1.86965,0 h 1.3058701 l -0.5947903,1.58802 H 3.6033952 Z m 1.87121,0 h 1.1043201 l -0.1979001,1.58802 H 5.6725152 Z m 1.63711,0 h 1.1208602 l 0.19948,1.58802 H 7.7085752 Z m 1.6536402,0 h 1.1043295 l 0.59636,1.58802 H 9.7575455 Z m 1.6701895,0 h 1.30586 l 0.79375,1.58802 h -1.50379 z m 1.8991,0 h 1.2759 l 0.99375,1.58802 h -1.47588 z m -11.8049497,2.11718 h 1.58595 v 0.26355 c 0,0.44431 -0.34892,0.7953 -0.79323,0.7953 -0.44431,0 -0.79265,-0.35095 -0.79272,-0.7953 z m 2.1151201,0 h 1.5880199 v 0.26355 c 0,0.44431 -0.3489201,0.7953 -0.7932401,0.7953 -0.4443098,0 -0.7947899,-0.351 -0.7947798,-0.7953 z m 2.11718,0 h 1.5880199 v 0.26355 c 0,0.44431 -0.3509801,0.7953 -0.7952999,0.7953 -0.4443201,0 -0.7927401,-0.35101 -0.79272,-0.7953 z m 2.1171897,0 h 1.5880104 v 0.26355 c 0,0.44431 -0.351,0.7953 -0.7953,0.7953 -0.44432,0 -0.7927302,-0.35101 -0.7927104,-0.7953 z m 2.1161504,0 h 1.5869795 v 0.26355 c 0,0.44431 -0.34892,0.7953 -0.79323,0.7953 -0.43952,0 -0.7857895,-0.34388 -0.7932395,-0.78135 5e-5,-0.005 5.29e-4,-0.009 5.29e-4,-0.0139 z m 2.1161495,0 h 1.58801 v 0.26355 c 0,0.44431 -0.34839,0.7953 -0.79271,0.7953 -0.4443,0 -0.79532,-0.35101 -0.7953,-0.7953 z m 2.11718,0 h 1.58802 v 0.26355 c 0,0.44431 -0.35048,0.7953 -0.79479,0.7953 -0.44432,0 -0.79325,-0.35101 -0.79323,-0.7953 z m -11.1130197,2.9099 v 6.08645 c -0.1184101,7e-5 -0.41728,-8e-5 -0.52968,0 v -7.43727 c 0.3235,-0.0672 0.60378,-0.24301 0.79478,-0.50023 0.2419099,0.32486 0.6250599,0.52917 1.0588499,0.52917 0.43366,0 0.8164502,-0.20397 1.05782,-0.52865 0.2413701,0.32468 0.6236502,0.52865 1.0573002,0.52865 0.4338198,0 0.8174598,-0.20427 1.0593699,-0.52917 0.24134,0.32502 0.6244102,0.52917 1.0583302,0.52917 0.43382,0 0.81694,-0.20427 1.05885,-0.52917 0.24134,0.32502 0.6238995,0.52917 1.0578195,0.52917 0.43391,0 0.81699,-0.20415 1.05833,-0.52917 0.24191,0.3249 0.62555,0.52917 1.05937,0.52917 0.43365,0 0.81593,-0.20397 1.0573,-0.52865 0.19084,0.25672 0.47084,0.43186 0.79375,0.49919 v 7.43779 h -1.05834 c -0.36069,-0.008 -0.36069,0.53717 0,0.52917 h 1.85157 v 0.52916 H 1.5874953 V 295.413 h 9.5255197 c 0.36069,0.008 0.36069,-0.53717 0,-0.52917 -1.6675895,0 -2.2161095,1.7e-4 -3.4395799,0 v -6.08645 c -5.291e-4,-0.14612 -0.1194998,-0.2641 -0.2656199,-0.26355 H 3.1618154 c -0.14903,0.0136 -0.25205,0.12753 -0.2519201,0.26355 z m 5.2927002,0 v 4.76405 c 5.29e-4,0.14552 0.11855,0.26326 0.26407,0.26355 h 5.2906295 c 0.14612,5.3e-4 0.26503,-0.11743 0.26562,-0.26355 v -4.76405 c -5.29e-4,-0.14612 -0.1195,-0.26411 -0.26562,-0.26355 H 8.4537455 c -0.14826,0.0136 -0.25128,0.12753 -0.25115,0.26355 z m -4.7635301,0.26614 h 3.7051999 v 5.82031 c -1.25364,-1.6e-4 -2.83243,-2.6e-4 -3.7051999,0 z m 5.2932201,0 h 4.7614595 v 4.2323 H 8.7322855 Z m -4.5258303,0.52916 c -0.1353399,0.0136 -0.2383599,0.12753 -0.23822,0.26355 v 2.11718 c 5.292e-4,0.14612 0.1194901,0.26411 0.26561,0.26356 h 2.1151202 c 0.1461198,5.3e-4 0.2650299,-0.11743 0.2656199,-0.26356 v -2.11718 c -5.291e-4,-0.14612 -0.1195001,-0.26411 -0.2656199,-0.26355 H 4.2338452 c -0.009,-5.3e-4 -0.018299,-5.3e-4 -0.0274,0 z m 0.29146,0.5271 h 1.5875 v 1.58802 h -1.5875 z m 7.6594798,4.76405 c -0.35842,0.0254 -0.33153,0.53945 0.0139,0.52917 h 0.263549 c 0.3607,0.008 0.3607,-0.53717 0,-0.52917 z" color="#000" font-family="sans-serif" font-weight="400" overflow="visible" style="line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal" /></g>
                        </svg>
                    </span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    @*<li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                    </li>*@

                    <li data-username="dashboard" class="nav-item active">
                        <a href="@Url.Action("index","dashboard")" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
                    </li>
                    <li data-productcategory="productcategory" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="fa fa-users" style="color: #ededed;"></i>
                            </span><span class="pcoded-mtext">Product Category</span>
                        </a>
                        <ul class="pcoded-submenu admin-menu">
                            <li><a href="@Url.Action("addeditproductcategory","productcategory")"> <span class="fa fa-plus"></span> Add Product Category</a></li>
                            <li><a href="@Url.Action("productcategorylist","productcategory")"> <span class="fa fa-list-alt"></span> List Product Category</a></li>
                        </ul>
                    </li>
                    <li data-productitem="product" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link">
                            <span class="pcoded-micon">
                                <i class="fa fa-users" style="color: #ededed;"></i>
                            </span><span class="pcoded-mtext">Product</span>
                        </a>
                        <ul class="pcoded-submenu admin-menu">
                            <li><a href="@Url.Action("addeditproduct","product")"> <span class="fa fa-plus"></span> Add Product </a></li>
                            <li><a href="@Url.Action("productlist","product")"> <span class="fa fa-list-alt"></span> List Product </a></li>
                        </ul>
                    </li>
                    
                </ul>

            </div>
        </div>
    </nav>

    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
        @*<header  class="@((userSessionInfo != null && userSessionInfo.IsPPT) ? "hide" : "") navbar pcoded-header navbar-expand-lg navbar-light header-blue">*@
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="@Url.Action("index","dashboard")" class="b-brand">
                <div class="b-bg">
                </div>
                <span class="b-title">
                    <svg version="1.0" width="1200.000000pt" height="600.000000pt" viewBox="0 0 1200.000000 600.000000" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" style="width: auto;height: 75px;padding: 10px 0 5px 0;">
                        <g transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)" fill="var(--pcolor)" stroke="none" style="--pcolor: white;--lcolor: #b28d1e;">
                            <path transform="rotate(-0.75)" d="M1375 5845 c-60 -29 -82 -47 -122 -103 -51 -70 -56 -112 -44 -364 6 -123 14 -266 17 -319 l6 -95 -198 -68 c-689 -236 -943 -399 -922 -590 25 -217 324 -351 1006 -451 90 -13 166 -26 169 -28 2 -3 13 -159 24 -348 22 -376 24 -359 -41 -359 -57 0 -300 -38 -386 -60 -222 -57 -321 -157 -300 -306 21 -155 144 -263 583 -515 101 -57 192 -111 202 -119 20 -16 15 58 91 -1315 29 -520 34 -590 42 -550 4 22 19 254 33 515 41 754 65 1163 70 1168 6 6 76 -30 215 -112 69 -40 287 -167 485 -281 198 -115 369 -216 380 -225 26 -23 100 -60 119 -60 22 0 46 28 46 54 0 30 -4 33 -420 271 -190 109 -403 232 -475 275 -71 43 -173 102 -226 133 -52 30 -101 63 -108 71 -11 14 -9 98 13 498 15 265 28 483 29 485 2 1 95 9 208 18 501 38 733 89 842 185 56 49 77 93 77 159 0 67 -21 116 -73 169 -114 117 -391 206 -854 273 l-153 23 0 45 c1 116 60 1105 67 1111 4 4 58 24 118 45 305 104 485 206 521 292 20 46 17 140 -5 188 -24 54 -86 108 -157 136 -84 33 -274 33 -387 1 -42 -12 -79 -22 -81 -22 -2 0 -18 24 -34 54 -57 99 -140 146 -261 146 -49 0 -79 -6 -116 -25z m200 -144 c17 -9 39 -34 50 -55 l20 -38 -40 -31 c-70 -55 -144 -135 -151 -163 -6 -21 -2 -31 16 -46 12 -10 27 -18 32 -18 6 0 33 25 61 55 27 30 54 55 58 55 14 0 10 -44 -15 -162 -32 -152 -56 -217 -88 -241 -34 -25 -48 -16 -76 51 -44 102 -101 426 -88 497 4 19 21 51 38 70 48 56 114 65 183 26z m655 -108 c69 -31 100 -73 100 -138 0 -49 -3 -55 -42 -90 -23 -21 -82 -57 -132 -80 -108 -51 -364 -147 -374 -141 -4 2 -2 97 3 211 11 236 1 214 117 245 98 27 261 23 328 -7z m-985 -885 c4 -79 15 -282 24 -453 10 -170 14 -313 11 -317 -6 -8 -327 39 -460 67 -359 75 -554 164 -600 275 -44 107 100 229 434 369 138 57 540 200 567 200 14 1 18 -20 24 -141z m712 -973 c347 -58 556 -120 651 -193 58 -43 69 -58 81 -101 40 -137 -186 -224 -692 -266 -100 -8 -215 -17 -254 -21 l-73 -6 0 39 c0 21 7 151 15 288 8 138 15 260 15 273 0 29 6 29 257 -13z m-617 -754 c0 -22 9 -196 20 -387 11 -191 18 -349 16 -352 -7 -6 -353 192 -466 266 -192 127 -269 253 -211 349 24 38 114 83 221 108 102 25 292 53 363 54 l57 1 0 -39z"></path>
                            <path transform="rotate(-0.75)" d="m 2037.2258,5724.7853 c -82.8403,-1.8042 -156.4077,-16.7891 -240.9538,-49.0814 -8.9329,-3.4116 -16.4349,-6.4482 -16.6702,-6.7469 -0.2354,-0.2987 -1.3909,-1.0143 -2.5677,-1.5895 -1.1768,-0.5752 -2.7175,-1.3898 -3.4236,-1.8093 -0.7061,-0.4193 -2.4393,-1.2332 -3.8515,-1.8076 -6.3413,-2.5815 -8.0351,-3.3208 -13.2664,-5.7936 -3.0598,-1.4463 -18.7543,-9.2043 -34.8777,-17.2403 -16.1232,-8.0369 -29.3143,-14.3969 -29.3143,-14.1351 0,0.9166 -11.8284,-5.7789 -40.227,-22.771 -102.9923,-61.6227 -205.7389,-163.9421 -223.0134,-222.0865 -8.5401,-28.7443 4.0637,-57.7966 38.5152,-88.7817 46.048,-41.4125 70.0644,-30.9638 181.5026,78.9682 89.393,88.1835 211.7533,142.643 359.4754,159.9947 120.6724,14.1736 208.8988,-1.5005 255.8523,-45.4548 49.7146,-46.5393 41.4458,-105.9862 -19.5794,-140.7577 -9.0238,-5.1416 -14.7967,-9.135 -22.8644,-15.8162 -20.2461,-16.7653 -100.5376,-55.8059 -171.8977,-83.5822 -64.1466,-24.9691 -206.2969,-78.3407 -238.7944,-89.6583 -6.5679,-2.2874 -10.8133,-4.2743 -13.5171,-5.6978 -2.199,-1.1575 -3.511,-1.8981 -3.1497,-2.482 0.046,-0.5958 0.068,-7.4071 -0.4142,-15.5474 -1.9557,-33.0615 -5.4141,-105.5977 -6.2538,-144.4323 -0.2755,-12.7099 -0.2553,-26.6892 -0.7551,-31.5438 -0.9792,-9.5115 -29.8156,-24.4208 -19.9061,-16.6194 0.4707,0.3707 47.9554,15.8708 58.547,18.4664 33.2096,8.1396 45.817,12.3508 125.8157,42.0254 185.0262,68.6349 302.4403,126.8708 424.9136,210.7509 181.4562,124.2784 120.7323,410.0477 -102.9727,484.5943 -53.317,17.7666 -152.4432,30.8378 -220.0896,29.0216 -3.5306,-0.095 -10.8485,-0.2687 -16.262,-0.3867 m -794.2694,-753.47 c -1.1769,-0.4005 -8.8799,-2.7174 -17.1179,-5.149 -74.8214,-22.0795 -239.8429,-79.1017 -358.82152,-123.9881 -29.8655,-11.268 -42.1536,-16.0412 -113.2039,-43.9759 -22.1249,-8.6993 -49.6633,-19.3808 -61.1964,-23.7366 -43.7798,-16.5357 -52.611,-20.2811 -99.2837,-42.1133 -11.5332,-5.3955 -27.7096,-12.7356 -35.9476,-16.3116 -73.0993,-31.7374 -87.854,-38.4802 -123.24865,-56.3272 -24.66173,-12.4354 -37.66189,-19.6881 -64.61998,-36.0539 -8.94411,-5.4295 -22.617,-13.2465 -30.38425,-17.3712 C 149.09579,4505.3703 54.872147,4329.793 119.57692,4197.1671 c 74.74087,-153.199 269.43964,-259.2802 624.39336,-340.2006 40.2749,-9.1821 51.0627,-11.7942 68.7197,-16.6376 22.0718,-6.0556 58.8111,-12.6887 116.5813,-21.0483 65.02742,-9.4097 215.49102,-31.8529 306.83792,-45.7672 22.831,-3.4775 49.5991,-7.5258 59.4846,-8.9954 9.8856,-1.4705 26.2546,-3.9877 36.3756,-5.595 27.0855,-4.2991 45.3229,-6.8318 141.2224,-19.6077 151.34,-20.1631 205.5729,-27.8089 264.4712,-37.2844 40.4872,-6.5143 87.266,-13.6874 128.384,-19.6882 86.9649,-12.6903 220.8883,-34.614 254.1115,-41.5998 63.0708,-13.2613 178.8895,-40.678 239.7392,-56.7526 131.1624,-34.6492 268.3553,-110.0568 286.6791,-157.5726 31.3078,-81.1815 -80.9187,-148.0722 -313.6397,-186.9384 -11.184,-1.8683 -52.4158,-7.9409 -136.943,-20.1691 -56.3366,-8.1498 -121.2305,-14.8558 -215.2573,-22.2447 -83.1312,-6.533 -136.3799,-11.1728 -191.7202,-16.707 -16.2406,-1.6237 -41.8532,-4.1109 -56.9169,-5.5266 -46.0865,-4.3307 -45.5122,-4.1776 -46.1515,-12.3608 -0.7575,-9.6801 -9.9095,-170.2758 -9.9095,-173.8782 0,-3.4946 10.5351,-4.0381 32.3467,-1.669 9.9771,1.0836 34.0577,3.1026 87.4784,7.3325 44.7863,3.546 108.1738,9.009 133.5194,11.5074 16.7112,1.6476 50.4121,4.7426 74.8907,6.878 463.4135,40.4196 643.9308,88.7048 764.6512,204.5269 98.8403,94.8305 94.1081,249.8714 -11.1352,364.8257 -25.0305,27.3407 -43.7003,41.5057 -109.8839,83.3742 -66.8531,42.2916 -278.7209,116.2057 -401.8421,140.1895 -12.4746,2.43 -28.651,5.5814 -35.9476,7.0021 -7.2965,1.4216 -25.3986,5.411 -40.2269,8.8662 -32.2313,7.5087 -49.9183,11.059 -81.3099,16.3211 -12.9455,2.1695 -30.8551,5.4186 -39.7991,7.2193 -18.5293,3.731 -32.7431,5.916 -97.5719,15.0014 -25.4201,3.5622 -69.52,9.9394 -97.9999,14.1719 -108.9578,16.1901 -128.7487,18.9477 -129.0696,17.9848 -0.5786,-1.7358 -55.8316,4.3342 -61.3667,6.7419 -0.9415,0.4091 -6.7188,0.9765 -12.8384,1.2607 -21.4137,0.9945 -47.1179,4.4276 -112.5501,15.033 -69.6226,11.2841 -99.466,15.6971 -165.1875,24.4263 -45.4847,6.0418 -58.1623,7.9897 -62.4803,9.6005 -0.706,0.2629 -1.4763,0.5452 -1.7117,0.6265 -0.2353,0.081 -1.0057,0.4015 -1.7118,0.7114 -0.7061,0.3098 -19.0009,2.8946 -40.655,5.743 -62.7481,8.2551 -107.0859,14.7676 -156.6516,23.0081 -41.6854,6.9311 -65.5332,10.6858 -128.78892,20.277 -105.5754,16.0095 -317.5263,66.1016 -401.4142,94.8699 -8.7087,2.9861 -30.6624,10.5121 -48.786,16.7232 -249.29614,85.4371 -305.59683,197.0242 -149.41505,296.1393 13.11401,8.3219 17.25996,11.3098 30.87381,22.2472 39.89149,32.0507 196.28814,111.6094 293.57164,149.3388 47.6202,18.4686 75.2279,29.3556 118.9692,46.9159 86.3614,34.6697 150.063,58.2787 291.43182,108.0088 28.4799,10.0181 60.2549,21.382 70.6113,25.2523 16.3081,6.0948 37.608,13.1577 63.55,21.071 7.0612,2.1546 7.0612,2.1546 7.0757,7.0244 0.019,6.5427 -8.5016,176.7799 -9.0793,181.3973 -0.469,3.7524 -0.9364,4.0314 -4.6295,2.7741 m 91.1527,-1823.9517 c -6.5904,-0.3476 -17.3748,-1.2419 -23.9651,-1.9874 -6.5903,-0.7464 -28.7366,-2.9092 -49.2138,-4.8067 -202.4361,-18.7586 -323.31482,-40.3699 -432.75192,-77.3694 -177.907,-60.1471 -275.8923,-178.1012 -260.6565,-313.7775 7.8194,-69.6303 25.5458,-119.6754 56.6935,-160.0573 4.9043,-6.3584 12.1392,-16.3167 16.0789,-22.13 40.5214,-59.803 212.3789,-196.6621 335.1953,-266.9344 29.22892,-16.7233 48.74842,-28.7726 137.08172,-84.6179 29.2622,-18.5002 71.8215,-45.2657 94.5763,-59.4804 59.565,-37.2082 81.5136,-51.2235 120.5423,-76.9731 33.2215,-21.9178 72.3119,-46.9244 80.4849,-51.4871 2.1303,-1.1897 8.0976,-4.7776 13.262,-7.9735 33.2164,-20.5603 68.3415,-41.6068 95.3098,-57.1079 49.5332,-28.473 77.9848,-45.8751 93.3883,-57.1223 12.4584,-9.0965 244.6067,-148.471 309.3842,-185.7444 17.0563,-9.8136 38.0966,-22.1719 46.7566,-27.4613 49.4005,-30.1771 125.0325,-74.2428 173.2295,-100.9287 41.3791,-22.9123 71.2908,-40.4393 206.6984,-121.1192 53.8999,-32.1158 143.0626,-85.1589 198.1394,-117.8737 142.6022,-84.7053 146.6445,-87.1814 162.6199,-99.6048 20.4206,-15.8809 80.3589,-39.7202 99.8348,-39.7082 92.9012,0.058 121.5017,94.3588 50.3744,166.0879 -15.6894,15.8221 -24.8851,22.4518 -52.2094,37.638 -8.7088,4.8408 -30.3048,17.1751 -47.9917,27.4107 -46.2843,26.7853 -80.0476,46.0035 -129.1784,73.5307 -60.373,33.825 -92.0017,51.9982 -129.6679,74.5039 -39.0039,23.3051 -82.3173,48.5583 -151.9211,88.5765 -75.2151,43.2448 -103.9141,60.0127 -152.3491,89.0103 -23.7725,14.2326 -62.2877,36.9541 -85.5894,50.4926 -55.794,32.4162 -92.0265,53.9162 -155.7726,92.4365 -71.932,43.4658 -111.1927,66.8967 -166.0434,99.0937 -52.3329,30.7189 -99.211,58.7845 -132.0037,79.0315 -12.1118,7.478 -31.7546,19.535 -43.6505,26.7938 -135.8938,82.9233 -191.1829,117.1051 -222.3365,137.4565 -4.472,2.9212 -49.92,31.6219 -100.9955,63.7787 -295.9808,186.3469 -381.51032,245.2144 -454.50012,312.8163 -103.6641,96.0125 -106.2678,192.0566 -6.2403,230.2046 4.6201,1.7623 16.8739,6.6683 27.2303,10.9024 44.2069,18.0739 124.9365,38.487 232.59602,58.8153 51.2227,9.6717 138.742,18.8947 247.9883,26.133 8.1566,0.5409 23.3556,2.1561 23.745,2.5241 0.1147,0.1078 -1.9069,41.5211 -4.4933,92.0291 -2.5857,50.5088 -4.7015,92.7498 -4.7015,93.8693 0,1.4199 -0.4528,1.9942 -1.4978,1.8984 -0.8243,-0.076 -6.8899,-0.4211 -13.4803,-0.7686" stroke="none" fill-rule="evenodd"></path>
                            <path transform="rotate(-0.75)" d="m 1460.3534,5830.578 c -33.213,-5.405 -49.4416,-10.4387 -74.4739,-23.1005 -70.6249,-35.7235 -133.9439,-109.1274 -153.1562,-177.5492 -10.2767,-36.5991 -11.332,-155.4202 -2.999,-337.6451 5.1627,-112.8924 15.7219,-306.226 17.1084,-313.2571 0.9603,-4.8716 9.1205,-171.4904 9.8282,-200.7071 0.8491,-34.9958 1.1033,-39.6219 6.005,-109.1264 1.8752,-26.597 5.1328,-77.6295 7.2391,-113.406 2.1056,-35.7764 5.7593,-97.2081 8.1182,-136.515 7.6243,-127.048 12.146,-210.0869 16.2885,-299.1349 6.2908,-135.2124 8.5444,-168.5357 11.4639,-169.4987 0.9902,-0.3268 1.9934,-0.6786 2.2287,-0.7831 4.8144,-2.1269 14.1967,-3.6273 64.192,-10.2681 65.7215,-8.7292 95.5649,-13.1422 165.1875,-24.4263 65.4322,-10.6054 91.1364,-14.0385 112.5501,-15.033 6.1196,-0.2842 11.8969,-0.8516 12.8384,-1.2607 5.2894,-2.3006 61.1964,-8.5368 61.1964,-6.8258 0,0.4708 0.5777,0.8559 1.2838,0.8559 0.7061,0 1.2856,0.481 1.2881,1.0698 0.011,2.8802 5.2013,87.6728 5.9477,97.1595 0.4707,5.9939 1.6475,25.7256 2.6138,43.8491 5.4786,102.7527 14.2412,250.8196 29.5575,499.414 18.1005,293.7883 19.4947,319.6002 22.1188,409.5451 0.1575,5.4138 0.713,21.5901 1.2333,35.9475 0.5196,14.3578 1.3567,38.2373 1.8582,53.0654 1.1632,34.3609 3.1694,80.907 4.3094,99.9616 0.4862,8.1406 0.6908,15.1153 0.4528,15.4996 -0.2379,0.3842 1.4679,30.3139 3.7891,66.5098 2.3212,36.1956 4.9993,80.2537 5.9501,97.9064 0.9509,17.653 1.9831,34.7922 2.2938,38.0873 0.7283,7.7304 1.77,128.813 1.1084,128.813 -6.7043,-0.01 -47.9643,-22.9295 -83.2142,-46.4279 -14.5214,-9.6803 -29.3649,-21.0173 -37.6321,-27.8278 -41.1017,-33.8592 -33.7732,-27.2866 -46.4098,-40.9953 -0.2584,-0.2804 -5.1791,-30.6911 -5.6268,-32.6851 -0.4475,-1.9934 -2.7422,-14.6452 -5.0993,-28.1154 -36.1787,-206.7983 -94.2374,-326.931 -136.2797,-281.9855 -56.9521,60.8866 -138.8868,477.7592 -110.2571,560.9726 26.7578,77.7718 135.8192,120.7264 207.9205,81.8911 24.1962,-13.0328 45.9496,-39.0312 49.9234,-59.6635 1.3575,-7.0484 0.9946,-7.0842 15.3728,1.5397 23.2213,13.9289 35.8294,21.0199 35.8294,20.1537 0,-0.2618 13.1911,6.0982 29.3143,14.1351 16.1234,8.036 31.8179,15.794 34.8777,17.2403 5.2313,2.4728 6.9251,3.2121 13.2664,5.7936 1.4122,0.5744 3.1454,1.3883 3.8515,1.8076 0.7061,0.4195 2.2468,1.2232 3.4236,1.7864 1.1768,0.5623 2.269,1.1057 2.4273,1.2085 0.7318,0.4724 -9.2984,20.0159 -16.2004,31.5636 -40.6019,67.9382 -108.0763,112.1513 -196.7767,128.9404 -10.7681,2.0388 -95.4896,3.2523 -106.1309,1.5209 M 1313.6481,3757.6596 c -0.3193,-2.4032 -0.3655,-8.1036 -0.1036,-12.6663 0.2619,-4.5636 0.8679,-16.9629 1.3471,-27.5546 3.2747,-72.3735 12.5123,-229.5173 18.3642,-312.4012 3.5262,-49.9483 5.6822,-85.2368 8.5503,-139.9387 1.1854,-22.5956 2.9083,-52.6375 3.8301,-66.7597 5.4932,-84.1644 12.0458,-216.1269 12.8769,-259.3358 0.8106,-42.1545 2.2134,-66.3386 7.6714,-132.2356 6.6229,-79.9687 23.0081,-420.629 25.3986,-528.0865 0.5812,-26.1047 0.5812,-26.1047 10.9247,-32.6318 5.6892,-3.5896 16.7507,-10.5815 24.5821,-15.5379 7.8314,-4.9565 39.2214,-24.3288 69.7554,-43.0488 30.534,-18.7211 73.3115,-44.9482 95.0598,-58.2831 21.7491,-13.3347 39.7554,-24.2448 40.0131,-24.2448 0.2584,0 0.4715,10.6883 0.4733,23.7511 0,27.5965 3.849,105.0463 17.5432,353.2701 16.4742,298.6333 24.3844,450.2156 25.7257,492.9948 0.6957,22.1916 9.4781,177.9489 11.0513,195.9997 4.7544,54.541 7.9734,109.1007 19.2644,326.5235 8.2687,159.2142 9.5971,187.8045 9.2633,199.4112 -0.3081,10.7295 11.7215,8.6334 -248.4668,43.298 -100.3194,13.3657 -135.2731,18.3409 -150.3078,21.393 -2.1269,0.4314 -2.2656,0.2388 -2.8167,-3.9166 m 96.2076,-1738.1568 c 0,-12.7776 9.2582,-184.7129 25.2189,-468.3313 5.0412,-89.5864 6.9267,-125.2995 9.0143,-170.7508 4.1946,-91.3161 10.084,-199.0646 17.9634,-328.6632 2.8048,-46.1327 5.8783,-97.3579 6.8292,-113.83389 7.1912,-124.52573 9.0571,-155.95069 12.4276,-209.26604 5.8748,-92.92784 7.2049,-116.35874 11.9962,-211.40575 8.8601,-175.76556 16.8996,-264.54732 24.3733,-269.16663 6.5886,-4.07236 18.1955,132.42389 28.2736,332.50278 2.3588,46.83881 5.6283,110.38878 7.2648,141.22247 1.6364,30.83346 4.7168,92.45783 6.8446,136.94301 6.8557,143.31085 15.6484,304.90875 39.793,731.36115 16.6969,294.8846 17.3156,309.237 13.4898,312.8891 -6.5211,6.225 -45.2083,30.118 -96.5979,59.6575 -27.5366,15.8281 -64.5737,38.0325 -96.4062,57.7969 -10.4846,6.5099 -10.4846,6.5099 -10.4846,-0.9553" stroke="none" fill="var(--lcolor)" fill-rule="evenodd"></path>
                            <path d="m 6675,4965 c -30,-29 -33,-89 -10,-241 26,-180 87,-1806 101,-2689 7,-447 7,-450 68,-523 30,-34 55,-39 103,-21 69,26 94,68 134,232 63,255 133,445 249,679 144,289 279,486 454,666 171,176 318,273 474,313 206,53 312,-7 312,-176 0,-243 -156,-607 -389,-905 -215,-276 -491,-502 -790,-647 -184,-90 -241,-144 -241,-233 0,-84 45,-130 126,-130 118,0 375,174 696,471 326,302 634,740 747,1062 66,189 75,238 76,417 0,138 -3,172 -18,205 -30,68 -67,113 -121,149 -65,43 -120,58 -215,57 -307,-2 -719,-306 -1044,-769 -144,-205 -292,-468 -349,-620 -17,-46 -22,-53 -28,-36 -37,99 -69,1017 -70,1989 0,529 -4,574 -54,673 -37,73 -76,102 -137,102 -40,0 -55,-5 -74,-25 z"></path>
                            <path d="m 3311,3849 c -38,-30 -66,-91 -66,-144 0,-25 13,-152 29,-283 45,-356 72,-732 132,-1832 14,-269 26,-379 40,-396 7,-9 31,-14 71,-14 110,0 129,29 243,360 119,348 258,731 356,981 216,553 321,766 438,900 61,69 99,91 149,87 32,-3 39,-9 59,-48 40,-81 48,-189 47,-670 0,-247 -8,-604 -17,-803 -23,-488 -23,-547 4,-581 18,-22 28,-26 76,-26 51,0 58,3 94,39 25,25 39,48 39,64 0,15 34,145 75,289 262,914 470,1440 630,1587 54,50 86,59 131,37 154,-73 226,-563 243,-1646 5,-335 10,-461 19,-477 23,-42 109,-47 166,-10 13,9 31,33 41,54 17,35 18,62 12,369 -22,1091 -134,1703 -350,1901 -82,74 -163,91 -244,52 -110,-53 -224,-220 -338,-494 -93,-224 -256,-700 -362,-1054 l -28,-94 v 659 c 0,582 -2,671 -18,764 -37,222 -68,304 -138,363 -128,110 -297,19 -460,-250 -156,-257 -423,-912 -672,-1648 l -92,-270 -7,135 c -3,74 -11,281 -17,460 -23,656 -54,1163 -86,1410 -17,131 -43,192 -95,228 -41,28 -70,28 -104,1 z"></path>
                            <path d="m 9442,3849 c -109,-54 -176,-221 -198,-491 l -6,-77 -31,-5 c -18,-3 -61,-7 -97,-10 -45,-4 -69,-11 -77,-23 -18,-24 -16,-47 7,-68 20,-18 61,-18 171,1 l 36,6 7,-83 c 3,-46 11,-193 16,-327 6,-134 15,-252 20,-262 15,-28 41,-39 69,-29 l 24,10 -8,277 c -5,152 -9,313 -9,356 l -1,80 105,17 c 82,13 117,14 158,6 68,-13 85,1 86,70 l 1,48 -42,3 c -23,2 -104,-9 -179,-23 -75,-14 -137,-25 -138,-23 -9,12 16,219 33,282 27,97 42,127 81,160 48,40 103,36 145,-9 18,-19 40,-54 47,-77 27,-81 82,-56 82,37 1,45 -4,59 -30,91 -66,82 -180,108 -272,63 z"></path>
                            <path d="m 10257,3828 c -36,-28 -40,-65 -49,-527 -10,-467 -6,-547 27,-597 17,-26 49,-31 90,-12 30,14 31,28 4,104 -20,56 -21,72 -15,369 3,171 10,380 16,465 13,174 7,210 -33,210 -13,0 -31,-6 -40,-12 z"></path>
                            <path d="m 9795,3778 c -45,-26 -47,-66 -4,-102 49,-41 130,-33 129,14 -1,18 -34,58 -70,83 -29,20 -29,20 -55,5 z"></path>
                            <path d="m 9821,3458 c -8,-26 2,-365 19,-588 17,-218 31,-255 90,-230 36,15 37,32 15,185 -9,64 -15,184 -15,335 0,291 -6,319 -73,320 -20,0 -30,-6 -36,-22 z"></path>
                            <path d="m 10860,3471 c -191,-63 -340,-292 -342,-526 -2,-136 40,-212 142,-258 63,-29 167,-28 237,3 104,44 225,206 263,349 10,36 9,46 -3,59 -21,20 -30,12 -77,-76 -91,-169 -162,-231 -273,-239 -119,-8 -172,47 -172,177 0,122 1,123 100,149 173,46 322,141 346,220 15,50 -7,103 -52,126 -37,20 -132,28 -169,16 z m 105,-105 c 25,-18 15,-39 -42,-80 -45,-33 -162,-85 -226,-100 l -28,-7 17,32 c 23,46 102,127 144,149 41,23 109,26 135,6 z"></path>
                            <path d="m 9688,2257 c -58,-44 -108,-113 -162,-222 -85,-173 -131,-370 -107,-457 17,-61 63,-115 108,-127 43,-12 112,1 158,29 58,36 231,232 272,307 16,30 16,34 1,49 -22,22 -35,13 -111,-82 -152,-188 -282,-252 -318,-157 -33,88 88,435 188,538 36,38 78,59 94,49 5,-3 9,-20 9,-39 0,-49 16,-85 39,-85 42,0 55,119 20,176 -26,43 -47,54 -103,54 -35,0 -54,-7 -88,-33 z" fill="var(--lcolor)"></path>
                            <path d="m 10835,2270 c -19,-21 -20,-6 5,-250 5,-58 17,-217 25,-354 15,-259 16,-266 61,-266 35,0 59,39 104,170 101,294 193,508 238,557 44,48 47,29 47,-324 0,-317 1,-326 20,-333 28,-10 63,5 74,32 5,13 21,68 36,123 68,248 154,463 195,485 16,8 22,6 35,-13 24,-37 45,-214 53,-446 8,-232 10,-241 64,-228 47,12 52,45 39,268 -16,287 -53,450 -114,507 -36,33 -83,33 -124,-2 -52,-44 -114,-195 -157,-381 l -23,-100 v 200 c 1,223 -10,303 -49,341 -76,77 -170,-21 -274,-287 -42,-106 -110,-328 -110,-357 0,-8 -2,-13 -5,-11 -2,3 -9,108 -15,235 -19,392 -30,454 -84,454 -12,0 -31,-9 -41,-20 z" fill="var(--lcolor)"></path>
                            <path d="m 10250,2178 c -37,-26 -100,-125 -131,-207 -64,-171 -81,-342 -42,-417 45,-86 114,-119 227,-112 92,6 171,43 241,113 73,74 117,164 116,243 0,77 -16,109 -101,197 -38,39 -70,79 -72,90 -4,27 -74,33 -117,10 -48,-24 -42,-55 21,-107 97,-80 155,-143 160,-175 17,-115 -123,-263 -250,-263 -54,0 -107,22 -122,51 -16,29 -14,141 5,212 21,81 76,192 135,272 55,77 59,89 31,105 -31,16 -65,12 -101,-12 z" fill="var(--lcolor)"></path>
                            <path d="m 9152,1650 c -38,-16 -48,-52 -27,-107 19,-51 50,-100 75,-120 21,-17 76,-16 94,3 25,25 0,104 -56,176 -48,62 -49,62 -86,48 z" fill="var(--lcolor)"></path>
                        </g>
                    </svg>
                </span>
            </a>
            <div class="b-bg">
                <i class="feather icon-trending-up"></i>
            </div>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto" style="box-shadow:none">
                <li>
                    <div class="dropdown drp-user">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon feather icon-settings"></i>
                        </a>
                        @if (ManagerSession != null)
                        {
                            <div class="dropdown-menu dropdown-menu-right profile-notification">
                                <div class="pro-head">
                                    <img src="~/images/user/avatar-2.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>
                                        @ManagerSession.Name
                                    </span>
                                    @*<a href="javascript:void(0)" class="dud-logout" title="Logout" onclick="AdminLogoutFn()"><i class="feather icon-log-out"></i></a> *@
                                </div>
                                <ul class="pro-body">
                                    <li>
                                        <a onclick="AdminLogoutFn()" class="dropdown-item">
                                            <i class="feather icon-log-out"></i> Logout <i class="far fa-gem font-size-15 m-l-5 hide"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }

                    </div>
                </li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <script type="text/javascript">
        $(window).on("load", function () {
            $('#loading').fadeOut(400, function () { $(this).hide(); });
            $('#loadingbar').fadeOut(400, function () { $(this).hide(); });
        });
        function AdminLogoutFn() {
            $.ajax(
                {
                    type: 'POST',
                    async: true,
                    url: siteURLPortal + "Login/Logout"
                })
                .done(function (data, textStatus, jqXHR) {
                    if (data.statuscode == 1) {
                        window.location.href = siteURLPortal + "Login/Index";
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    window.location.href = siteURLPortal + "login";
                }).always(function (data, textStatus, errorThrown) {
                    //write content here
                });
        };
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
